@font-face 
    font-family "Custom"
    src url(fonts/Nunito/Nunito-Regular.ttf) format("truetype")


body 
  padding-top 50px
  font-family "Custom", Verdana, Tahoma


.footer 
  border-top 1px solid #eee
  margin-top 40px
  padding-top 40px
  padding-bottom 40px


/* Main marketing message and sign up button */
.jumbotron 
  text-align center
  background-color transparent
  padding-bottom 25px


.jumbotron h1 
    color #C44741


.jumbotron p 
    opacity 0.5


/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified 
  background-color #52616D

.nav-justified > li > a 
  margin-bottom 0
  padding-top 15px
  padding-bottom 15px
  color white
  font-weight bold
  text-align center
  background-color #3498DB


.nav-justified > li > a:hover
  background-color #308ECC


.nav-justified > .active > a,
.nav-justified > .active > ahover,
.nav-justified > .active > afocus 
  background-color #3DB1FF
  background-image none


@media (min-width 768px) 
  .nav-justified 
    max-height 52px
  
  .nav-justified > li > a 
    border-left 1px solid #fff
    border-right 1px solid #fff
  
  .nav-justified > lifirst-child > a 
    border-left 0
  
  .nav-justified > lilast-child > a 
    border-right 0
  


.text-muted, #disconnect
  display inline-block


#disconnect
  float right
  margin-top 10px


/* Responsive Portrait tablets and up */
@media screen and (min-width 768px) 
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer 
    padding-left 0
    padding-right 0
  


.btn
  border-radius 0px
  border none  
  background-color #3498DB


.form-control
  border-radius 0px
  border solid 1px #ECF0F1
  -webkit-box-shadow none
  box-shadow inset none


.text-muted
  color #6D8191


.badge
  color  white

.text-muted
  display none
.panel-default > .panel-heading 
  background-color #3498DB
  color white


.badge
  background-color #3498DB
