#botRow
	margin-top 50px

#alerArea
	display none

.panel-default
	display none

.list-group-itemhover
	cursor pointer

#loading
	margin-left auto
	margin-right auto
	width 200px

#loading img
	width 200px

.list-group-item:hover
	background-color #3db1ff
	cursor pointer
	.badge
		background-color white
		color black

.selected-menu
	background-color #3db1ff
	cursor pointer
	.badge
		background-color white
		color black

.delete-pic
	height 20px
	width 20px
	opacity 0.3

.delete-pic:hover
	opacity 0.7
	cursor pointer

.hidden
	display none