body {
	margin-left: 20px;
	margin-right: 20px;
}

#alertArea{
	margin-top: 20px;
}

#register{
	margin-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  margin-bottom: 0px;
}