#alertArea {
  display: none;
  margin-top: 20px;
}
.masthead {
  margin-bottom: 20px;
}
#loading {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
#loading img {
  width: 200px;
}
.value-cell {
  text-align: center;
}
